.displayflex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  clip: auto;
  height: auto;
  width: auto;
  margin: 0;
  overflow: visible;
}
.max-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* Reset =================================================== */
html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
.alert {
  margin-bottom: 1.5em;
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #f2e187;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  color: #9c8611;
}
.alert .alert-heading {
  color: inherit;
}
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  float: right;
  font-size: 21px;
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 18px;
  color: inherit;
}
.alert-success {
  background-color: #c5e6c5;
  border-color: #a2d6a2;
  color: #347834;
}
.alert-warning {
  background-color: #fee7c7;
  border-color: #fcd296;
  color: #c17305;
}
.alert-error {
  background-color: #f4cac8;
  border-color: #eba19e;
  color: #da4f49;
}
.alert-inverse {
  background-color: #414141;
  border-color: #000000;
  color: #ffffff;
}
.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}
.alert-block .alert-heading {
  margin-bottom: 0.1875em;
  font-size: inherit;
  font-weight: bold;
}
.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}
.alert-block p + p {
  margin-top: 5px;
}
.badge {
  padding: 1px 9px 2px;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  white-space: nowrap;
  color: #808080;
  background-color: #e6e6e6;
  -webkit-transition: background-color 0.25s 0 linear;
  -moz-transition: background-color 0.25s 0 linear;
  -ms-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  transition: background-color 0.25s 0 linear;
}
.badge:hover {
  color: #808080;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #da4f49;
  color: #ffffff;
}
.badge-error:hover {
  background-color: #9d2520;
  color: #ffffff;
}
.badge-warning {
  background-color: #faa732;
  color: #ffffff;
}
.badge-warning:hover {
  background-color: #c17305;
  color: #ffffff;
}
.badge-success {
  background-color: #5bb75b;
  color: #ffffff;
}
.badge-success:hover {
  background-color: #347834;
  color: #ffffff;
}
.badge-info {
  background-color: #d9edf7;
  color: #247fad;
}
.badge-info:hover {
  background-color: #85c5e5;
}
.badge-inverse {
  background-color: #414141;
  color: #ffffff;
}
.badge-inverse:hover {
  background-color: #0e0e0e;
  color: #ffffff;
}
.basegrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07b5cd), to(#05899c));
  background-image: -webkit-linear-gradient(top, #07b5cd, #05899c);
  background-color: #05899c;
  background-image: -moz-linear-gradient(top, #07b5cd, #05899c);
  background-image: -ms-linear-gradient(top, #07b5cd, #05899c);
  background-image: -o-linear-gradient(top, #07b5cd, #05899c);
  background-image: linear-gradient(top, #07b5cd, #05899c);
  background-repeat: repeat-x;
}
.errorgrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07b5cd), to(#c72f29));
  background-image: -webkit-linear-gradient(top, #07b5cd, #c72f29);
  background-color: #c72f29;
  background-image: -moz-linear-gradient(top, #07b5cd, #c72f29);
  background-image: -ms-linear-gradient(top, #07b5cd, #c72f29);
  background-image: -o-linear-gradient(top, #07b5cd, #c72f29);
  background-image: linear-gradient(top, #07b5cd, #c72f29);
  background-repeat: repeat-x;
}
.greygrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#d9d9d9));
  background-image: -webkit-linear-gradient(top, #ffffff, #d9d9d9);
  background-color: #d9d9d9;
  background-image: -moz-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -ms-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: -o-linear-gradient(top, #ffffff, #d9d9d9);
  background-image: linear-gradient(top, #ffffff, #d9d9d9);
  background-repeat: repeat-x;
}
.infograd {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9edf7), to(#afd9ee));
  background-image: -webkit-linear-gradient(top, #d9edf7, #afd9ee);
  background-color: #afd9ee;
  background-image: -moz-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -ms-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -o-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: linear-gradient(top, #d9edf7, #afd9ee);
  background-repeat: repeat-x;
}
.inversegrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#272727));
  background-image: -webkit-linear-gradient(top, #414141, #272727);
  background-color: #272727;
  background-image: -moz-linear-gradient(top, #414141, #272727);
  background-image: -ms-linear-gradient(top, #414141, #272727);
  background-image: -o-linear-gradient(top, #414141, #272727);
  background-image: linear-gradient(top, #414141, #272727);
  background-repeat: repeat-x;
}
.successgrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bb75b), to(#449b44));
  background-image: -webkit-linear-gradient(top, #5bb75b, #449b44);
  background-color: #449b44;
  background-image: -moz-linear-gradient(top, #5bb75b, #449b44);
  background-image: -ms-linear-gradient(top, #5bb75b, #449b44);
  background-image: -o-linear-gradient(top, #5bb75b, #449b44);
  background-image: linear-gradient(top, #5bb75b, #449b44);
  background-repeat: repeat-x;
}
.warninggrad {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faa732), to(#f39106));
  background-image: -webkit-linear-gradient(top, #faa732, #f39106);
  background-color: #f39106;
  background-image: -moz-linear-gradient(top, #faa732, #f39106);
  background-image: -ms-linear-gradient(top, #faa732, #f39106);
  background-image: -o-linear-gradient(top, #faa732, #f39106);
  background-image: linear-gradient(top, #faa732, #f39106);
  background-repeat: repeat-x;
}
.well {
  min-height: 21px;
  padding: 11px;
  margin-bottom: 1.5em;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 10px #e6e6e6;
  -moz-box-shadow: inset 0 1px 10px #e6e6e6;
  box-shadow: inset 0 1px 10px #e6e6e6;
}
.well p:last-child {
  margin-bottom: 0;
}
.well-large {
  padding: 22px;
}
.well-small {
  padding: 6px;
}
a {
  text-decoration: none;
  color: #07b5cd;
}
a:visited {
  color: #07b5cd;
}
a:hover {
  text-decoration: underline;
  color: #05899c;
}
a:focus {
  outline: thin dotted;
  color: #05899c;
}
a:hover,
a:active {
  outline: 0;
}
/* Botones =================================================== */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 11px 4px;
  margin-bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 1.5em;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  cursor: pointer;
  *margin-left: .3em;
}
.btn:visited,
.btn:hover {
  color: #ffffff;
  text-decoration: none;
}
input[type="submit"].btn:hover {
  border-color: #cccccc;
}
.btn:first-child {
  *margin-left: 0;
}
.btn-disabled {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: default;
}
.btn-error {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07b5cd), to(#c72f29));
  background-image: -webkit-linear-gradient(top, #07b5cd, #c72f29);
  background-color: #c72f29;
  background-image: -moz-linear-gradient(top, #07b5cd, #c72f29);
  background-image: -ms-linear-gradient(top, #07b5cd, #c72f29);
  background-image: -o-linear-gradient(top, #07b5cd, #c72f29);
  background-image: linear-gradient(top, #07b5cd, #c72f29);
  background-repeat: repeat-x;
  border-color: #b22a24;
  border-bottom-color: #9d2520;
  color: #ffffff;
}
.btn-error:visited,
.btn-error:hover {
  color: #ffffff;
}
.btn-info {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d9edf7), to(#afd9ee));
  background-image: -webkit-linear-gradient(top, #d9edf7, #afd9ee);
  background-color: #afd9ee;
  background-image: -moz-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -ms-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: -o-linear-gradient(top, #d9edf7, #afd9ee);
  background-image: linear-gradient(top, #d9edf7, #afd9ee);
  background-repeat: repeat-x;
  border-color: #9acfea;
  border-bottom-color: #85c5e5;
  color: #247fad;
}
.btn-info:visited,
.btn-info:hover {
  color: #247fad;
}
.btn-inverse {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#272727));
  background-image: -webkit-linear-gradient(top, #414141, #272727);
  background-color: #272727;
  background-image: -moz-linear-gradient(top, #414141, #272727);
  background-image: -ms-linear-gradient(top, #414141, #272727);
  background-image: -o-linear-gradient(top, #414141, #272727);
  background-image: linear-gradient(top, #414141, #272727);
  background-repeat: repeat-x;
  border-color: #1b1b1b;
  border-bottom-color: #0e0e0e;
  color: #ffffff;
}
.btn-inverse:visited,
.btn-inverse:hover {
  color: #ffffff;
}
.btn-primary {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07b5cd), to(#05899c));
  background-image: -webkit-linear-gradient(top, #07b5cd, #05899c);
  background-color: #05899c;
  background-image: -moz-linear-gradient(top, #07b5cd, #05899c);
  background-image: -ms-linear-gradient(top, #07b5cd, #05899c);
  background-image: -o-linear-gradient(top, #07b5cd, #05899c);
  background-image: linear-gradient(top, #07b5cd, #05899c);
  background-repeat: repeat-x;
  border-color: #047483;
  border-bottom-color: #045e6a;
  color: #ffffff;
}
.btn-primary:visited,
.btn-primary:hover {
  color: #ffffff;
}
.btn-success {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bb75b), to(#449b44));
  background-image: -webkit-linear-gradient(top, #5bb75b, #449b44);
  background-color: #449b44;
  background-image: -moz-linear-gradient(top, #5bb75b, #449b44);
  background-image: -ms-linear-gradient(top, #5bb75b, #449b44);
  background-image: -o-linear-gradient(top, #5bb75b, #449b44);
  background-image: linear-gradient(top, #5bb75b, #449b44);
  background-repeat: repeat-x;
  border-color: #3c893c;
  border-bottom-color: #347834;
}
.btn-warning {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#faa732), to(#f39106));
  background-image: -webkit-linear-gradient(top, #faa732, #f39106);
  background-color: #f39106;
  background-image: -moz-linear-gradient(top, #faa732, #f39106);
  background-image: -ms-linear-gradient(top, #faa732, #f39106);
  background-image: -o-linear-gradient(top, #faa732, #f39106);
  background-image: linear-gradient(top, #faa732, #f39106);
  background-repeat: repeat-x;
  border-color: #da8205;
  border-bottom-color: #c17305;
}
.btn-extlarge {
  padding: 11px 22px;
  font-size: 21px;
  font-size: 2.1rem;
}
.btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
.btn-large {
  padding: 11px 22px;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: normal;
}
.btn-small {
  padding: 6px 10px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 16px;
}
.btn-mini {
  padding: 3px 5px;
  font-size: 11px;
  font-size: 1.1rem;
  line-height: 14px;
}
.btn-group {
  position: relative;
  *zoom: 1;
  *margin-left: .3em;
}
.btn-group .btn {
  position: relative;
  float: left;
  margin-left: -1px;
}
.btn-group .btn:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-group .btn:last-child {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-group .btn.large:first-child {
  margin-left: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-group .btn.large:last-child {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.btn-toolbar {
  clear: both;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
.btn-toolbar .btn-group {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf;
}
h1,
.h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
}
h2,
.h2 {
  margin-bottom: 0.75em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}
h3,
.h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
}
h4,
.h4 {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}
h5,
.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}
h6,
.h6 {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header h1,
.header h2,
.header h3 {
  float: left;
  margin-right: 24px;
}
.header h1 a,
.header h2 a,
.header h3 a {
  display: block;
  position: relative;
  top: 6px;
  float: right;
  padding: 4px 12px;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #ffffff;
}
.header h1:hover,
.header h2:hover,
.header h3:hover {
  background-color: #ffffff;
}
.header .a-rss,
.header .a-rss:hover {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent url(../img/a-rss.png) no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
small {
  font-size: 14px;
  font-size: 1.4rem;
}
ul,
ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px;
}
li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 2px solid #10dbf7;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal;
}
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
cite {
  font-style: normal;
}
dl,
dd {
  margin-bottom: 1.5em;
}
dt {
  font-weight: bold;
}
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
.dl-horizontal dd {
  margin-left: 22.78%;
}
abbr[title] {
  border-bottom: 1px dotted #10dbf7;
  cursor: help;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
ins {
  background-color: #ffffff;
  color: #262626;
  text-decoration: none;
}
mark {
  background-color: #ffffff;
  color: #262626;
  font-style: italic;
  font-weight: bold;
}
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* Page =================================================== */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
html {
  background: #bfbfbf;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #ffffff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #262626;
}
@media only screen and (min-width: 30em) {
  
}
@media only screen and (min-width: 37.5em) {
  
}
@media only screen and (min-width: 48em) {
  
}
@media only screen and (min-width: 56.25em) {
  
}
@media only screen and (min-width: 68.75em) {
  
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  
}
@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot');
  src: url('fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('fonts/icomoon.woff') format('woff'), url('fonts/icomoon.ttf') format('truetype'), url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-cloud-download,
.icon-cloud-upload,
.icon-user,
.icon-css3,
.icon-eye {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-cloud-download:before {
  content: "\e009";
}
.icon-cloud-upload:before {
  content: "\e000";
}
.icon-user:before {
  content: "\e001";
}
.icon-css3:before {
  content: "\f13c";
}
.icon-eye:before {
  content: "\e002";
}
